*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: Montserrat;
    src: url(/assets/font/Montserrat-Regular.ttf);
}
body{
    font-family: Montserrat ;
}

nav{
    width: 90%;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
nav ul li{
    margin: 0 40px;
}
nav ul li:last-child{
    background: rgb(210, 210, 210);
    border: 1px solid rgb(210, 210, 210);
    padding:5px 10px;
    border-radius: 20px;
}
header{
    background: url(/assets/img/bg.jpg) center/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
header h1{
    color: aliceblue;
    margin: 20px 0;
}
header button{
    width: 200px;
}